// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

//utilits
@import
       './utilits/variable',
       './utilits/extends',
        './utilits/mixin';
//base
@import './base/reset';

//components
@import './components/button';
@import './components/section-heading';
//layout
@import './layout/hero';
@import './layout/laptop';
@import './layout/site-footer';

//pages
@import './pages/demo';


