%default-transition {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

%position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

%banner-overlay {
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.55);
}

%flex {
    display: flex;
}

%item-center {
    align-items: center;
}

%justify-center {
    justify-content: center;
}

%flex-column {
    flex-direction: column;
}
.no-underline {
    text-decoration: none;
}

.inline-block {
    display: inline-block;
}

.box-shodow {
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 10%);
}