%default_transition {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

%position_center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

%banner_overlay {
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.55);
}