@mixin equal_size( $size: 100px ) {
    width: $size;
    height: $size;
}

@mixin radius( $size: 50% ) {
    border-radius: $size;
}

@mixin responsive( $device: 575px ) {
    @media screen and ( max-width: $device ) {
        @content;
    }
}