.banner {
    &--demo {
        background: url('../images/common/welcome-bg.webp');
        background-repeat: no-repeat;
        background-position: top;
    }

    &__overlay {
        @extend .overlay;
        padding: 250px 0 200px 0;
        @include responsive( $mobile ) {
            padding: 150px 0;
        }

        @include responsive( $tablet-horizontal, $mobile-horizontal ) {
            padding: 150px 0;
        }
    }

    &__sub-title {
        @include responsive( $tablet ) {
            max-width: 450px;
            margin: 0 auto;
            line-height: 30px;
            margin-bottom: 35px;
        }

        @include responsive( $mobile ) {
            line-height: 36px;
        }
    }

    &__group-btn {
        @extend .d-flex, .align-items-center, .gap-3, .justify-content-center;
        a {
            @extend .no-underline, .inline-block, .btn-base, .rounded-pill;
        }    
    }

    &__primary-btn {
        --text-color: var(--bs-white);
        --text-hover-color: var(--bs-white);
        --background-color: var(--sky-blue-color);
        --background-hover-color: var(--blue-color);    
    }

    &__secondary-btn {
        --text-color: var(--bs-white);
        --text-hover-color: var(--bs-white);
        --background-color: var(--orange-color);
        --background-hover-color: var(--sky-blue-color);
    }   
}

