.hero {
    padding: 80px 0;
    overflow: hidden;

    &__single-wrapper {
        margin-bottom: 60px;
        padding: 0 13px;
    }

    &__single-demo {
        position: relative;

        &::before {
            content: '';
            width: 100%;
            height: 24px;
            position: absolute;
            top: 0;
            left: 0;
            background: url('../images/common/header_bar.webp');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        & img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__demo-content {
        position: absolute;
        bottom: -22px;
        left: 50%;
        transform: translateX(-50%);

        a {
            @extend .no-underline, .inline-block, .btn-base, .rounded-pill, .text-nowrap;    
        }
    }

    &__primary-btn {
        --padding: 12px 27px;
        --text-color: var(--bs-white);
        --text-hover-color: var(--bs-white);
        --background-color: var(--sky-blue-color);
        --background-hover-color: var(--blue-color); 
    }
}