.section-heading {
    &--center {
        @extend .text-center;
    }

    &__title {
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 20px;
        color: $dark-color;

        @include responsive( $mobile ) {
            font-size: 32px;
            margin-bottom: 12px;
        }
    }

    &__subtitle {
        color: $deep-purple;
        font-weight: 500;
        margin: 0;
        font-size: 14px;
    }
}