.activites {
    background-color: $black-100;
    padding: 120px 0 150px 0;
    @include responsive($iphoneSE) {
        padding: 100px 0  150px 0;
    }

    @include responsive($tablet) {
        padding: 100px 0;
    }

    &__content {
        padding: 0 60px;
        text-align: center;

        h2 {
            font-size: 52px;
            font-weight: 700;
            letter-spacing: -.2px;
            @include responsive($iphoneSE) {
                font-size: 26px !important;
            }

            @include responsive($mobile-horizontal) {
                font-size: 30px;
                line-height: 40px;
            }

            @include responsive($tablet) {
                font-size: 36px;
            }

            span {
                color: $sky-blue;
            }
        }
    }
}