.banner {
     &--demo {
            background-image: url('../images/common/welcome-bg.webp');
            background-size: cover;
            background-repeat: no-repeat;
            background-position:center top;
        }

    &__item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center top;

        &--demo {
            background-image: url('../images/common/welcome-bg.webp');
        }
    
        &--demo2 {
            background-image: url('../images/common/slider_3.webp');
        }
    
        &--demo3 {
            background-image: url('../images/common/slider_1.webp');
        }

        &--part-1 {
            background-image: url('../images/common/slider_4.webp');
        }

        &--part-2 {
            background-image: url('../images/common/slider_5.webp');
        }

        &--part-3 {
            background-image: url('../images/common/slider_6.webp');
        }
    }
    
    &__overlay {
        @extend %banner-overlay;
        padding: 250px 0 200px 0;
        @include responsive( $mobile ) {
            padding: 150px 0;
        }

        @include responsive( $tablet-horizontal, $mobile-horizontal ) {
            padding: 150px 0;
        }
    }

    &__sub-title {
        @include responsive( $tablet ) {
            max-width: 450px;
            margin: 0 auto;
            line-height: 30px;
            margin-bottom: 35px;
        }

        @include responsive( $mobile ) {
            line-height: 36px;
        }
    }

    &__group-btn {
        @extend .d-flex, .align-items-center, .gap-3;

        &--center {
            @extend .justify-content-center;
        }

        a {
            @extend .no-underline, .inline-block, .btn-base, .rounded-pill;
            @include responsive($iphoneSE) {
                margin-top: 30px;
            }
        }

        @include responsive($iphoneSE) {
           flex-direction: column;
        }
        
    }

    &__primary-btn {
        --text-color: var(--bs-white);
        --text-hover-color: var(--bs-white);
        --background-color: var(--sky-blue-color);
        --background-hover-color: var(--blue-color);    
    }

    &__secondary-btn {
        --text-color: var(--bs-white);
        --text-hover-color: var(--bs-white);
        --background-color: var(--orange-color);
        --background-hover-color: var(--sky-blue-color);
    }

    &__btn {
        --text-color:var(--bs-white);
        --text-hover-color: var(--bs-dark);
        --background-hover-color:var(--bs-white);
    }

    &__nav {
        @extend 
            .position-absolute, .top-50, .start-0, 
            .translate-middle-y, .d-flex, .justify-content-between,
            .align-items-center, .w-100, %default-transition;

        button {
            @include equal-size(50px);
            @extend .rounded-circle, .border, .border-0, %default-transition, .opacity-0;
            background-color: $sky-blue;
            color: var(--bs-white);
            @include responsive($tablet) {
                display: none;
            }
            

            &:hover {
                background-color: $blue;
            }
        }
    }

    &:hover {
        .banner__nav {
            padding: 0 18px;

             button {
                @extend .opacity-100;
             }
        }
    }

     
    .active {
        .title,
        .description,
        .banner__btn,
        .banner__primary-btn {
            animation: animLeft 1s ease 100ms both;
        }

        .description {
            animation-delay: 500ms;
        }
        
        .banner__btn {
            animation-delay: 800ms;
        }

        .banner__primary-btn {
            animation-delay: 1200ms;
        }
    }
            
    &--home-1 {
        .overlay {
            @extend %banner-overlay;
            padding: 250px 20px 200px 20px;
            @include responsive($tablet) {
                padding: 180px 0 100px 0;
            }

            .container {
                @extend %flex, %flex-column, %item-center, %justify-center;

                img {
                    width: 496px;
                    height: 196px;
                }
            }

        }

        .title {
            font-size: 74px;
            font-weight: 700;
            @include responsive($tablet) {
                font-size: 60px;
            }
        }

        .description {
            font-size: 20px;
            font-weight: 600;
        }
    }

    &--home-2 {
        .overlay {
            @extend %banner-overlay;
            padding: 250px 0 200px 0;
            @include responsive($tablet) {
                padding: 100px 0 100px 0;


            }

            .container {
                @include responsive($iphoneSE){
                    text-align: center !important;
                }
            }

            .title {
                    font-size: 74px;
                    font-weight: 700;
                    max-width: 680px;
                    @include responsive($mobile) {
                      font-size: 52px;
                      margin-bottom: 20px;
                    }
                    @include responsive($tablet) {
                        max-width: 480px;
                    }

                }
            }
            
            .description {
                font-size: 25px;
                font-weight: 600;
                margin: 0;
            }

        }
    }

    


