.demo-section {
    padding: 85px 0;

    @include responsive( $mobile ) {
        padding: 50px 0;
    }

    &__preview-container {
        padding-top: 70px;

        @include responsive( $mobile ) {
            padding-top: 30px
        }
    }

    &__card {
        @extend .position-relative;

        .btn-holder {
            @extend %position_center_x;
        }

        a {
            @extend .no-underline, .inline-block, .rounded-pill, .btn-base;
            --text-color: var(--bs-white);
            --background-color: var(--sky-blue);
            --hover-background-color: var(--blue-color); 
            bottom: 20px;
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.235);
        }
    }
}