.charity-navbar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;

    &__brand {
        background-color: #fff;
    }

    .navbar-nav .nav-item a {
        font-size: 14px;
        font-weight: 600;
        @include responsive($tablet) {
            display: none;
        }
    }


    .dropdown-menu {
        & > li {
            &:not(:last-child) {
                border-bottom: 1px solid #eee;
            }
        }

        .dropdown-item {
            padding: 10px;
            &:hover {
                background-color: transparent;
                color: $sky-blue;
            }
        }
    }

    .nav-item {
        & > a {
            color: #fff;
        }

        &.dropdown:hover .dropdown-menu {
            display: block;
            margin-top: var(--bs-dropdown-spacer);
        }
    }

    .charity-btn {
        a {
            @extend .no-underline, .inline-block, .btn-base, .rounded-pill; 
        }
       @include responsive($tablet) {
        display: none;
       }
    }

    &__primary-btn {
        --text-color: var(--bs-white);
        --text-hover-color: var(--bs-white);
        --background-color: var(--sky-blue-color);
        --background-hover-color: var(--blue-color);    
    }
    
}